<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Castoro&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Boolzapp</title>
    </head>
    <body>
        <div class="green-bar"></div>
        <div class="grey-bar">
            <div id="app" class="container">
                <div class="container-left">
                    <div class="nome-utente">
                        <div class="left">
                            <img src="img/maccio.jpg" alt="">
                            <h3>Maccio Capatonda</h3>
                        </div>
                        <div class="right">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="notifiche">
                        <div>
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notifiche-text">
                            <h3>Ricevi notifiche di nuovi messaggi</h3>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <div class="ricerca">
                        <input  type="search" placeholder="Cerca o inizia una nuova chat">
                        <i class="fas fa-search"></i>

                    </div>
                    <div class="contatti">
                        <div class="utenti" v-for="(utente, index) in contatti" :class="{'active': utente.selezionato}" @click='activeChat(index)'>
                            <div class="left">
                                <img :src='utente.img'  alt="">
                                <div>
                                    <h3>{{utente.nome}}</h3>
                                    <p>{{utente.anteprima}}</p>
                                </div>
                            </div>
                            <div class="right">
                                <p>{{utente.accesso}}</p>
                            </div>
                        </div>
                        <!-- <div class="utenti">
                            <div class="left">
                                <img src="img/avatar_3.jpg" alt="">
                                <div>
                                    <h3>Herbert Ballerina</h3>
                                    <p>ok..</p>
                                </div>
                            </div>
                            <div class="right">
                                <p>22/11/2020 16:15</p>
                            </div>
                        </div>
                        <div class="utenti">
                            <div class="left">
                                <img src="img/avatar_4.jpg" alt="">
                                <div>
                                    <h3>Anna Pannocchia</h3>
                                    <p>ok..</p>
                                </div>
                            </div>
                            <div class="right">
                                <p>22/11/2020 16:15</p>
                            </div>
                        </div>
                        <div class="utenti">
                            <div class="left">
                                <img src="img/avatar_5.jpg" alt="">
                                <div>
                                    <h3>Riccardino Fuffolo</h3>
                                    <p>ok..</p>
                                </div>
                            </div>
                            <div class="right">
                                <p>22/11/2020 16:15</p>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="container-right">

                    <div class="nome-utente">
                        <div class="left">
                            <img class="img-speciale" src="img/me.jpg" alt="">
                            <div>
                                <h3>Vanessa </h3>
                                <p>Ultimo accesso oggi alle 19:48</p>
                            </div>
                        </div>
                        <div class="right">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                       
                    <div class="chat"> 
                        <div  v-for="(message, index) in contatti[active].chat" class="received">
                            <h4>{{message.ricevuto}}</h4> 
                            <p>22/11/2020 16:15</p>
                        </div>
                    </div>
                        <div class="sent">
                            <h4>bla bla bla bla bla</h4>
                            <p>22/11/2020 16:15</p>
                        </div>
                        <!-- <div class="sent"> 
                            <h4>jdjdsik
                                    kvxlkvfò
                                    dfjdfd
                                    dsfdskf dfjdsoifj dofsfjd
                                    fdofsdkfposd
                                    fdsjfidfgfdgh
                            </h4> 
                            <p>22/11/2020 16:15</p>
                        </div>
                        <div class="received"> 
                            <h4>I've heard George stinks</h4> 
                            <p>22/11/2020 16:15</p>
                        </div> -->
                    </div>
                    <div class="text">
                        <div class="emoticons"><i class="far fa-smile"></i></div>
                        <div class="write" ><input type="text" placeholder="Scrivi un messaggio">
                                <div class="my-message">
                                </div></div>
                        <div class="microfono"><i class="fas fa-microphone"></i></div>
                    </div>
                </div>
            </div>
        </div>


    <script src="js/script.js"></script>
    </body>
</html>